[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
uvloop = "*"
httptools = "*"
python-dotenv = "*"
typing-extensions = "*"
dataclasses = "*"
python-jose = {extras = ["cryptography"],version = "*"}
sqlalchemy = "*"
pip = "*"
psycopg2-binary = "*"
strawberry-graphql = {extras = ["fastapi"], version = "*"}

[dev-packages]
pylint = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
