[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
gunicorn = "*"
uvloop = "*"
httptools = "*"
psycopg2 = "*"
python-dotenv = "*"
typing-extensions = "*"

[dev-packages]
pylint = "*"
mypy = "*"
black = "*"

[requires]
python_version = "3"
